/*---------------------------------------------------------верхня панель навігації--------------------------------------------------------------*/

nav[id= 'top_navbar_id']{
    background: grey;
    height: 70px;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.site_title_label{
    margin: 8px;
    color: white;
    font-size: large;
    padding-left: 20px;
}
.notification_bell_navbar{
    margin-left: auto;
    margin-right: 20px;
    color: white;
    padding: 10px;
}
.notification_bell_navbar:hover{
    background: black;
    transition: 0.7s;
}
.notification_bell_navbar:hover .dropdown_content_notification_topnav{
    display: block;

}
@keyframes animation_for_topnav {
    0%   {opacity: 0;}
    100% {opacity: 100%;}
}
.dropdown_content_notification_topnav {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 220px;
    top: 57px;
    margin-left: -10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-name: animation_for_topnav;
    animation-duration: 0.7s;

}
.dropdown_content_notification_topnav a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
.dropdown_content_notification_topnav a:hover{
    background-color:lightgrey;
    display: block;
}

div[id = 'bell_dot_navbar'] {
    width: 10px;
    height: 10px;
    position: absolute;
    margin-left:12px;
    border-radius: 50%;
    background-color: red;
    animation: blink 1s infinite;
}
/* Використовую анімацію для створення ефекту мигання */
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
i[id='drop_notfication_account_icon']{
    margin-left: 10px;
}
.drop_name_of_user_notification {
    position: absolute;
    margin-top: 35px;
    margin-left: -30px;
    font-size: 14px;
}
.drop_notification_message{
    padding: 10px;
    background: lightgrey;
    border-radius: 15px;
    margin-left: 30px;
}
.account_area_navbar{
    position: relative;
    display: inline-block;
    right: 10px;
    width: 200px;
    height: 44px;
}
.account_area_navbar:hover .dropdown_content_account_topnav{
    display: block;
}
.account_name_top_navbar{
    color: white;
    width: 190px;
    padding: 10px;
}
.account_name_top_navbar:hover {
    background: black;
    transition: 0.7s;
}

i[id = 'user_icon_top_navbar']{
    color: white;
    padding-right: 10px;
}
.dropdown_content_account_topnav {
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 190px;
    top: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-name: animation_for_topnav;
    animation-duration: 0.7s;
}
.dropdown_content_account_topnav a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
.dropdown_content_account_topnav a:hover{
    background-color:lightgrey;
    display: block;
    transition: 0.7s;
}
/*---------------------------------------------------------верхня панель навігації (зверху)--------------------------------------------------------------*/
/*--------------------------------------------------бокове меню-------------------------------------------------------*/

nav[id= 'side_navbar']{
    top: 100px;
    position: absolute;
}
/*--------------------------------------------------бокове меню (зверху)-------------------------------------------------------*/
/*---------------------------------------------------таблиця зі студентами----------------------------------------------------------------------------*/
.label_on_table{
    margin-top: 30px;
    position: relative;
    margin-bottom: 0;
    margin-left: 150px;
    font-size: xx-large;
}
.table_caption{
    caption-side: top;
    text-align: end;
}
i[class = 'fa-regular fa-square-plus fa-2xl']{
    margin-left: 81%;
    transition: 0.5s;

}
i[class = 'fa-regular fa-square-plus fa-2xl']:hover{
    color: lightblue;
    transition: 0.7s;
}
.table_wrap{
    position: relative;
    word-wrap: break-word;
    overflow-x: auto;
    width: 70%;
    max-width: 70%;
    margin-left: 150px;
}
.students_table{
    width: 100%;
    height: 40px;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}
th, td{
    border: 2px solid black;
    border-collapse: collapse;
    height: 70px;
}
.col_checkbox, .col_status{
    width: 10%;
}
input[type = "checkbox"] {
    accent-color: grey;
    width: 25px;
    height: 25px;
    margin: 0;
}
.col_group{
    width: 14%;
}
.col_name{
    width: 25%;
}
.col_gender, .col_options{
    width: 12%;
}
.col_birthday{
    width: 17%;
}
div [id ='table_dot_active']{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    animation: blink 2s infinite;
}
i[class = 'fa-solid fa-pen fa-xl']{
    margin-right: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: 0.7s;

}
i[class = 'fa-solid fa-pen fa-xl']:hover{
    color: lightblue;
    transition: 0.7s;
}
i[class = 'fa-regular fa-square-minus fa-2xl']{
    padding-bottom: 20px;
    padding-top: 20px;
    transition: 0.7s;
}
i[class = 'fa-regular fa-square-minus fa-2xl']:hover{
    color: lightblue;
    transition: 0.7s;
}
/*---------------------------------------------------таблиця зі студентами (зверху) ----------------------------------------------------------------------------*/
/*--------------------------------------------------- паджінейшн----------------------------------------------------------------------------*/

.pagination a {
    border-radius: 5px;
    color: black;
    padding: 10px 19px;
    text-decoration: none;

}
.pagination{
    margin-top: 60px;
    justify-content: center;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover {
    transition: 0.5s;
    background: lightblue;
}
/*--------------------------------------------------- паджінейшн (зверху) ----------------------------------------------------------------------------*/

/*--------------------------------------------------форма додавання, редагування та видалення студента-------------------------------------------------------*/

.form_student_class{
    width: 500px;
    height: 450px;
    background: white;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    overflow: scroll;

}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.form_student_class[open]{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
.delete_student_form_class{
    width: 500px;
    height: 300px;
    background: white;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    min-width: 300px;
    overflow: scroll;
}
.delete_student_form_class[open]{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}
.form_student_class i[class = 'fa-solid fa-xmark fa-2xl'],  .delete_student_form_class i[class = 'fa-solid fa-xmark fa-2xl']{
    display: flex;
    position: absolute;
    right: 30px;
    top: 30px;
}
.form_student_class i[class = 'fa-solid fa-xmark fa-2xl']:hover,  .delete_student_form_class i[class = 'fa-solid fa-xmark fa-2xl']:hover{
    transition: 0.7s;
    color:lightblue;
}
.form_student_class i[class = 'fa-solid fa-square-check fa-2xl']{
    display: flex;
    position: absolute;
    right: 30px;
    float: left;
    top: 420px;
}
.form_student_class i[class = 'fa-solid fa-square-check fa-2xl']:hover{
    transition: 0.7s;
    color:lightblue;
}
.delete_student_form_class i[class='fa-regular fa-rectangle-xmark fa-2xl']{
    display: flex;
    position: absolute;
    right: 30px;
    float: left;
    top: 270px;
}
.delete_student_form_class i[class='fa-regular fa-rectangle-xmark fa-2xl']:hover{
    transition: 0.7s;
    color:lightblue;
}
.delete_student_form_class i[class = 'fa-solid fa-square-check fa-2xl']{
    display: flex;
    position: absolute;
    right: 70px;
    float: left;
    top: 270px;

}
.delete_student_form_class i[class = 'fa-solid fa-square-check fa-2xl']:hover{
    transition: 0.7s;
    color:lightblue;
}
.student_label, .warning_label{
    font-size: 30px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: lightblue;
    border-radius: 10px;
    padding: 10px;
}
.group_label{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.name_label{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 78px;
}
.secname_label{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 27px;
}
.gender_label{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 103px;
}
.birthday_label{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 104px;
}
.user_text_warning{
    font-size: 25px;
    font-family: "Heiti SC";
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: left;
}
.inputs{
    width: 200px;
    height: 40px;
    position: absolute;
    left: 220px;
}
/*--------------------------------------------------форма додавання, редагування та видалення студента (зверху)-------------------------------------------------------*/


